aside{
    width: 20%;
    background-color: rgb(238, 236, 236);
    height: 93vh;
    
    

    box-sizing: border-box;
}
    #chatsOrUsers{
        display: flex;
    }
        #chatsButton, #usersButton{
            width: 50%;
            padding: .5rem;

            background-color: lightgray;
            color: rgb(122, 0, 0);
            border: 2px solid #c0c0c0;

            text-align: center;
            font-weight: 700;
            font-size: 1rem;

            box-sizing: border-box;
        }
        #chatsButton:hover, #usersButton:hover{
            background-color: #c0c0c0;
        }
        

    #everyChat{
        padding: .5rem;
        height: 80vh;
        overflow-y: scroll;
        overflow-x: hidden; 
    }
        #everyChat ul{
            list-style: square;
            padding-top: .5rem;
        }
            #everyChat li{
                padding-left: 1rem;     
                display: flex;
                justify-content: space-between;  
            }
            #everyChat li:hover{
                background-color: #d8d8d8;
            }   
                .chatSelect{
                    background-color: rgb(226, 226, 226);

                    padding: .2rem;
                    margin-bottom: .3rem;
                }
                .selectedC{
                    text-decoration: underline;
                }
                    .deleteChat:hover{
                        background-color: rgb(187, 187, 187);
                    }
                #everyChat label{
                    
                   padding: 0 .5rem;
                }
    #everyUsersMovile{
        padding: .5rem;
        height: 80vh;
        overflow-y: scroll;
        overflow-x: hidden; 
    }
        #everyUsersMovile > div{
            padding-left: .5rem;
            color: rgb(124, 74, 74);
        }


#black{
    width: 100vw;
    height: 95vh;
    background-color: black;
    position: fixed;
    opacity: 0;
    z-index: 999;
    overflow: hidden;
    display: none;
}

@media screen and (max-device-aspect-ratio: 1/1) {
    #web{
        position: relative;
    }
        aside{
            z-index: 1000;
            position: absolute;
            left: -100%;
            transition: .2s;
            width: 70%;
        }
}