#bodyWeb{
    width: 80%;
}
    #bodyContStrech{
        width: 70%;
        margin: auto;
        border-left: 1px solid #181818;
        border-right: 1px solid #181818;
        box-sizing: border-box;
    }
        #info{
        }
            #infoChat{
                display: flex;
            }  
                #chatP{
                    width: 90%;
                }
                #ammountP{
                    width: 10%;
                    text-align: center;
                }
            #output{

            }
                
        #typings, #seen, #online{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            
            height: 1rem;
        }
        #online{
            background-color: rgb(34, 34, 34);
            color: lightgray;
            font-size: .8rem;
            padding: .3rem;
        }
        #seen{
            text-align: right;
            background-color: #FAFAFA;
            color: grey;
            font-size: .8rem;
            padding: .1rem 1rem;
        }
        #typings{
            padding: .2rem 1rem;
            background-color: rgb(230, 230, 230);
            font-size: .9rem;
            color: rgb(0, 1, 59);
        }
        
        #inputs{
            display: flex;
        }
            #divInputMsg{
                width: 85%;
                display: flex;
            }
                #msgInput{
                    display: block;
                }
            #divButtonMsg{
                width: 15%;
            }
                #msgInput, #send{
                    padding: .5rem;
                    border-radius: 0;
                    border: 0;
                    width: 100%;
                    font-size: 1rem;

                    background-color: #EEEDED;

                    display: block;
                    box-sizing: border-box;
                }
                #msgInput{border-bottom: 1px solid #b9b9b9;}
                #send{
                    border: 0;
                    font-size: 1.5rem;
                    background-color: rgb(9, 0, 49);
                }
                    #send i{
                        text-align: center;
                        color: whitesmoke;
                    }

@media screen and (max-device-aspect-ratio: 1/1) {

        #bodyWeb{
            width: 100%;
        }
            #bodyContStrech{
                width: 100%;
                margin: 0;
            }
    
}