*{
    margin: 0;
    padding: 0;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
}


body{
    font-family: 'Nunito', sans-serif;
    /* overflow: hidden; */
}

.resaltedP{
    padding: .5rem 0 .5rem .5rem;
    font-size: 1rem;
    background-color: #181818;
    color: #FD6E6E;
}
#all{
    overflow: hidden;
}

#web{
    display: flex;
}
    
#selectOne{
    width: 70%;
    height: 80vh;
    display: flex;
    align-items: center;
}
    #selectOne p{
        text-align: center;
        width: 100%;
        color: grey;
        font-size: 2rem;
    }

@media screen and (max-device-aspect-ratio: 1/1) {

    #selectOne{
        width: 100%;
    }

}