#login-random{
    width: 100%;
}

    #chat-username, #customChatCont{
        width: 80%;
    }
        #loginContaaa{
            width: 50%;
            margin: 3rem auto;

            box-sizing: border-box;
        }
            #loginContaaa > div, #customChatCont > div{
                border: 1px solid #181818;
                padding: 1rem;
            }
                #usernameInput, #customChatInput{
                    padding: .5rem;
                    border: 0;
                    width: 100%;
                    margin: 0 auto;

                    background-color: #EEEDED;
                    /* border-left: 1px solid #b9b9b9;
                    border-right: 1px solid #b9b9b9; */

                    display: block;
                    box-sizing: border-box;
                }
                #valid1, #valid2{
                    height: 1.2rem;
                    padding: 0 .25rem;
                }
                    #validP1{
                        padding: .5rem 0;
                        color: darkred;
                        font-size: 1rem;
                        font-weight: 800;
                    }
            #enterChat, #enterCustomChat{
                padding: .5rem;
                border: 0;
                width: 100%;
                border: 1px solid #181818;
                border-top: 0;
            }

    
@media screen and (max-device-aspect-ratio: 1/1) {

    #chat-username, #customChatCont{
        width: 100%;
    }
        #loginContaaa{
            width: 80%;
        }
}   
