aside{
    width: 20%;
    background-color: rgb(238, 236, 236);
    height: 93vh;
    

    box-sizing: border-box;
}
    #chatsOrUsers{
        display: flex;
    }
        #chatsButton, #usersButton{
            width: 100%;
            background-color: lightgray;
            color: rgb(122, 0, 0);
            text-align: center;
            padding: 1vh;
            font-weight: 700;
            font-size: 2vh;

            height: 5vh;

            box-sizing: border-box;
        }
        #usersButton{
            display: none;
        }
        

    #everyChat{
        padding: 1vh;
        height: 86vh;
        overflow-y: scroll;
    }
        #everyChat ul{
            list-style-type: none;
            padding-top: 1vh;
        }
            #everyChat li{
                padding-left: 2vh;     
                display: flex;
                justify-content: space-between;  
            }
            #everyChat li:hover{
                background-color: #d8d8d8;
            }   
                .chatSelect{
                    display: inline;
                }
                #everyChat label{
                    
                   padding: 0 1vh;
                }
    #everyUsersMovile{
        padding: 1vh;
        height: 86vh;
        overflow-y: scroll;
    }
        #everyUsersMovile > div{
            padding-left: 1vh;
            color: rgb(124, 74, 74);
        }


#black{
    width: 100vw;
    height: 93vh;
    background-color: black;
    position: fixed;
    opacity: 0;
    z-index: 999;
    display: none;
}

@media screen and (max-aspect-ratio: 1/1) {
    #web{
        position: relative;
    }
        aside{
            z-index: 1000;
            position: absolute;
            left: -100%;
            transition: 1s;
            width: 70%;
        }
            #chatsOrUsers{
                display: flex;
            }
                #chatsButton, #usersButton{
                    width: 50%;
                    display: block;
                    border: 2px solid #c0c0c0;
                }
                #chatsButton:hover, #usersButton:hover{
                    background-color: #c0c0c0;
                }
}