#bodyWeb{
    width: 80%;
    height: 93vh;
}
    #bodyContStrech{
        width: 70%;
        margin: auto;
        border-left: 1px solid #181818;
        border-right: 1px solid #181818;
    }
        #info{
            height: 5vh;
        }
            #infoChat{
                display: flex;
            }  
                #chatP{
                    width: 90%;
                }
                #ammountP{
                    width: 10%;
                    text-align: center;
                }
            #output{
                height: 83vh;

                border-bottom: 0;
                overflow-x: hidden;
                overflow-y: scroll;
                padding: 1vh;

                box-sizing: border-box;
            }
                .ownMSG{

                }
                .otherMSG{

                }
                .adMsg{

                }
                    .otherMSG label{
                        padding: .5vh;
                        padding-bottom: 0;
                        color: #555;
                    }
                    .ownMSG p{
                        padding: .5vh;
                        padding-bottom: 0;
                        color: rgb(114, 114, 114);

                        text-align: right;
                    }
                    .adMsg p{
                        padding: .2vh;
                        padding-bottom: 0;
                        color: rgb(160, 0, 0);
                        text-align: center;
                        background-color: rgb(255, 228, 228);
                    }

        #inputs{
            display: flex;
            height: 5vh;
        }
            #divInputMsg{
                width: 90%;
                height: inherit;
            }
            #divButtonMsg{
                width: 10%;
                height: inherit;
            }
                #msgInput, #send{
                    padding: 1vh;
                    border-radius: 0;
                    border: 0;
                    width: 100%;
                    height: 5vh;
                    font-size: 2vh;

                    background-color: #EEEDED;

                    display: block;
                    box-sizing: border-box;
                }
                #msgInput{border-bottom: 1px solid #b9b9b9;}
                #send{
                    border: 0;
                    font-size: 2.5vh;
                    background-color: rgb(9, 0, 49);
                }
                    #send i{
                        text-align: center;
                        color: whitesmoke;
                    }

@media screen and (max-device-aspect-ratio: 1/1) {

    #web{
        position: relative;
    }
        #bodyWeb{
            width: 100%;
            height: 93vh;
        }
            #bodyContStrech{
                width: 100%;
                margin: 0;
            }
    
}