#bodyWeb{
    width: 80%;
}
    #bodyContStrech{
        width: 70%;
        margin: auto;
        border-left: 1px solid #181818;
        border-right: 1px solid #181818;
        box-sizing: border-box;
    }
        #info{
        }
            #infoChat{
                display: flex;
            }  
                #chatP{
                    width: 90%;
                }
                #ammountP{
                    width: 10%;
                    text-align: center;
                }
            #output{
                border-bottom: 0;
                overflow-x: hidden;
                overflow-y: scroll; 
                padding: 10px;

                background-color: rgb(250, 250, 250);

                box-sizing: border-box;
            }

                .otherMSG{
                    padding: .1rem 0;
                    display: flex;
                }
                .ownMSG{
                    padding: .1rem 0;
                    display: flex;
                    justify-content: flex-end;
                }
                    
                .adMsg{
                    margin: 1rem 0;
                }
                    .otherMSG > div{
                        display: inline;
                        background-color: #ebebeb;
                        color: rgb(32, 32, 32);

                        max-width: 80%;
                        border-radius: 10px;
                        padding: .3rem .7rem;

                    }
                    .ownMSG > div{
                        display: inline;
                        background-color: #d1d1d1;
                        color: rgb(32, 32, 32);

                        max-width: 80%;
                        border-radius: 10px;
                        padding: .3rem .7rem;
                    }
                    .firstM{
                        border-radius: 10px 0 10px 10px !important;
                        margin-top: .8rem;
                    }
                    .firstOM{
                        border-radius: 0 10px 10px 10px !important;
                        margin-top: .8rem;
                    }

                    .adMsg p{
                        padding: .5rem;
                        padding-bottom: 0;
                        color: rgb(160, 0, 0);
                        text-align: center;
                        background-color: rgb(255, 228, 228);
                    }
        #typings{
            padding: .5rem 1rem;

            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            
            height: 1.5rem;
            color: rgb(0, 1, 59);
            background-color: rgb(255, 196, 196);
        }
        #inputs{
            display: flex;
        }
            #divInputMsg{
                width: 85%;
                display: flex;
            }
                #msgInput{
                    display: block;
                }
            #divButtonMsg{
                width: 15%;
            }
                #msgInput, #send{
                    padding: .5rem;
                    border-radius: 0;
                    border: 0;
                    width: 100%;
                    font-size: 1rem;

                    background-color: #EEEDED;

                    display: block;
                    box-sizing: border-box;
                }
                #msgInput{border-bottom: 1px solid #b9b9b9;}
                #send{
                    border: 0;
                    font-size: 1.5rem;
                    background-color: rgb(9, 0, 49);
                }
                    #send i{
                        text-align: center;
                        color: whitesmoke;
                    }

@media screen and (max-device-aspect-ratio: 1/1) {

    #web{
        position: relative;
    }
        #bodyWeb{
            width: 100%;
        }
            #bodyContStrech{
                width: 100%;
                margin: 0;
            }
    
}