*{
    margin: 0;
    padding: 0;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
}


body{
    font-family: 'Nunito', sans-serif;
    /* overflow: hidden; */
}

.resaltedP{
    padding: 1vh 0 1vh 1vh;
    font-size: 1.2rem;
    background-color: #181818;
    color: #FD6E6E;
}


#web{
    display: flex;
}
    
#selectOne{
    width: 70%;
    height: 90vh;
    display: flex;
    align-items: center;
}
    #selectOne p{
        text-align: center;
        width: 100%;
        color: grey;
        font-size: 5vh;
    }

@media screen and (max-device-aspect-ratio: 1/1) {

    #selectOne{
        width: 100%;
    }

}