nav{
    background-image: linear-gradient(45deg, #1f1f38, #474772);
    color: whitesmoke;
    display: flex;
    height: 7vh;
}
    #hambChats{
        width: 15%;
    }
    #hambChats:hover{
        background-color: #313164;
    }
        #hambChats img{
            height: 5vh;
            padding: 1vh 0;
            margin: 0 auto;
            display: none;
            filter: invert(100%);
        }
    #centerNav{
        width: 70%;
    }
        #centerNav h1{
            text-align: center;
            font-size: 3.5vh;
            height: 5vh;
            padding: 1vh 0;
        }
    #hambUsersC{
        width: 15%;
    }
    #hambUsersC:hover{
        background-color: #313164;
    }
        #hambUsersC img{
            height: 5vh;
            padding: 1vh 0;
            margin: 0 auto;
            display: block;
        }


@media screen and (max-device-aspect-ratio: 1/1) {

    #hambChats img{
        display: block;
    }

}